
<h1>RefSeq application - Web interface</h1>


{% if error_message %}
    {{ error_message }}
{% endif %}

<li>Create a new reference?</li>
<br>
<form enctype="multipart/form-data"  action="/web_interface/upload/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit"/>
</form>
<br>
{% if document_list %}
    <ul>
        <h2>Available References</h2>
    {% for document in document_list %}
        <li><a href="/web_interface/download/{{document.id}}">{{ document.gene }}, {{document.transcript }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No references have been created yet.</p>
{% endif %}